@use '../base/variables' as v;
@use '../base/mixins' as m;



.formulario-back {

    color: v.$blanco;
    background-color: v.$cafe2;
    padding: 2rem 3rem;
    margin: 2rem 0;

    
      



    .campo-back {
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
        color: v.$random;
        

        label {
            
            flex: 0 0 10rem;
        }

        input {
            
            flex: 1;
            border: none;
            padding: calc(v.$separacion / 4);
            border-radius: 1rem;
            background-color: v.$gris;

            &:disabled {
                background-color: lighten(v.$negro, 30%);
                color: v.$blanco;
                cursor: not-allowed;

            }
        }


    }


    .boton-back {
        @include m.boton(v.$random, v.$blanco);
        margin: 0;
    }


}

.img-edit{
    display: flex;
     justify-content: center;
    margin-bottom: 2rem;

    img{
       
        width: 50%;
    }
}
