@use '../base/variables' as v;
@use '../base/mixins' as m;


.menu {

    margin-bottom: 3rem;
}

.categorias {
    margin-bottom: 2rem;
    background-color: v.$blanco;
    display: grid;
    gap: 2rem;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;

    .i-1 {
        i {

            font-size: 4rem;
        }
    }

    h2 {
        margin: 0;
        font-size: 3rem;
        color: v.$negro;
        font-weight: 500;
    }

    @include m.tablet {

        .i-1 {


            i {

                font-size: 6rem;
            }
        }

        h2 {
            margin: 0;
            font-size: 7rem;
            color: v.$negro;
            font-weight: 500;
        }
    }

    &:hover{
        cursor: pointer;
    }
}









.sub-menu {
    display: none;


    .menu-listado {

        overflow-x: auto;
        border: 1px solid v.$negro;
        padding: 1rem;
        border-radius: 8px;
        background-color: v.$blanco;
        margin: 2rem;
        @include m.grid(3, 3rem);
        align-items: center;

        .menu-detalle {

            h1,
            p {
                text-align: center;
                color: v.$negro;
            }

        }

        .menu-precio {
            p {
                font-size: 4rem;
                color: v.$negro;
                text-align: center;
            }
        }

        .menu-img {
            margin-right: 3rem;
            min-width: 30rem; // previene que se encoja demasiado
            text-align: center;

            img {
                width: 100%;
                max-width: 40rem;
                height: auto;
            }
        }





    }


}




.sub-menu2 {
    display: none;


    .menu-listado {

        overflow-x: auto;
        border: 1px solid v.$negro;
        padding: 1rem;
        border-radius: 8px;
        background-color: v.$blanco;
        margin: 2rem;
        @include m.grid(3, 3rem);
        align-items: center;

        .menu-detalle {

            h1,
            p {
                text-align: center;
                color: v.$negro;
            }

        }

        .menu-precio {
            p {
                font-size: 4rem;
                color: v.$negro;
                text-align: center;
            }
        }

        .menu-img {
            margin-right: 3rem;
            min-width: 30rem; // previene que se encoja demasiado
            text-align: center;

            img {
                width: 100%;
                max-width: 40rem;
                height: auto;
            }
        }





    }


}

//         @include m.tablet {

//             .menu-detalle {


//                 h1 {
//                     font-size: 4rem;

//                 }

//                 p {
//                     font-size: 2rem;

//                 }

//                  .menu-precio {

//             p {
//                 font-size: 4rem;
//                 margin: 0 2rem;
//                 color: v.$negro;
//             }
//         }

//         .menu-img {


//             img {
//                 height: 30%;

//             }
//         }
//             }

//         }


//     }



//     .menu-detalle {
//         margin: 0 2rem;
//         @include m.grid(1, 1rem);

//         h1,
//         p {
//             margin: 0;
//             text-align: center;
//             font-size: 2rem;
//             color: v.$negro;

//         }

//         h1 {
//             font-size: 3rem;
//         }



//     }
// }